#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.youtube-embed-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  /* Youtube的高度與寬度比是固定的：100/56.25。 */
  padding-bottom: 56.25%;
}

.youtube-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* NOTE: use prefix "custom" for extending MUI components css  */
.custom-btn-icon-align-left {
  position: absolute;
  left: 1rem;
}

.custom-table-thumbnail-wrapper {
  position: relative;
  transform: scale(0.9);
  cursor: pointer;
}
.custom-table-thumbnail-wrapper > svg {
  position: absolute;
  top: 30px;
  left: 45px;
  opacity: 0;
  color: #fff;
  transition: opacity 0.2s;
}
.custom-table-thumbnail-wrapper:hover > svg {
  opacity: 0.8;
}

.custom-table-no-focus-outline .MuiDataGrid-columnHeader:focus,
.custom-table-no-focus-outline .MuiDataGrid-cell:focus {
  outline: none !important;
}
