#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}



/* NOTE: use prefix "custom" for extending MUI components css  */
.custom-btn-icon-align-left {
    position: absolute;
    left: 1rem;
}